services:
  jbl-keeper:
    build: .
    container_name: jbl-keeper
    restart: unless-stopped
    network_mode: host  # Required for ping and direct network access to JBL speaker
    environment:
      - PC_ADDRESS=192.168.1.100 # IP address of the PC to check if it's online
      - JBL_ADDRESS=192.168.1.200 # IP address of the JBL speaker
      - JBL_PORT=80 # Port of the JBL speaker
      - JBL_PIN=1234 # PIN of the JBL speaker
      - INTERVAL=60 # Interval in seconds to send keep-alive requests